.basket-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.basket-item-image {
    width: 60px; /* Smaller width if necessary */
    height: auto; /* Maintain aspect ratio */
    margin-right: 15px;
}

.basket-item-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-item-details h5 {
    margin: 0;
    flex-grow: 1; /* Allows title to take available space */
}

.basket-item-details p {
    margin: 0 20px; /* Space before the price */
    white-space: nowrap; /* Ensures the price does not wrap */
}

.basket-item-actions {
    display: flex;
    gap: 10px; /* Space between buttons */
}

/* This will center the content and add space around it */
.basket-container {
    max-width: 960px; /* This can be adjusted based on your design preference */
    margin: 20px auto; /* Adds vertical space and centers it horizontally */
    padding: 0 20px; /* Adds padding inside the container */
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* If you want to add more centered padding around the entire Basket component */
.basket {
    padding: 0 15%; /* Adds padding to the left and right, can be adjusted */
}

.basket-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.basket h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}