.basket-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.basket-item-image {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.basket-item-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-item-details h5 {
    margin: 0;
    flex-grow: 1;
}

.basket-item-details p {
    margin: 0 20px;
    white-space: nowrap;
}

.basket-item-actions {
    display: flex;
    gap: 10px;
}

.basket-container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.basket {
    padding: 0 15%;
}

.basket-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.basket h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}