.game-detail-container {
    display: flex; /* Changed to flex for better control */
    gap: 50px;
    margin: 20px;
  }
  
  .game-images-section {
    flex: 1; /* Assign flexible space for the image section */
    display: flex;
    flex-direction: column; /* Stack images vertically */
    margin-left: 50px;
  }

  .main-image-display {
    height: 500px; /* Fixed height for the container */
    width: 100%; /* Full width */
    background-color: #000000; /* Optional: background color if the image doesn't cover the whole area */
    display: flex; /* To center the image in the div if it's not filling the whole height */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* In case the image is too big */
}
  
  .main-image-display img {
    max-height: 100%; /* Will not exceed the container's height */
    max-width: 100%; /* Will not exceed the container's width */
    object-fit: contain;
  }
    
  .image-thumbnails {
    margin-top: 20px;
    display: flex; /* Align thumbnails horizontally */
    overflow-x: auto; /* Enable horizontal scrolling for thumbnails */
  }
  
  .image-thumbnails img.thumbnail {
    width: 100px; /* Adjust thumbnail size as needed */
    height: 75px;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer; /* Indicate clickable thumbnails */
  }
    
  .image-thumbnails img.thumbnail.active {
    border: 2px solid #007bff; /* Highlight selected thumbnail */
  }
  
  .game-info-section {
    flex: 1; /* Assign flexible space for the info section */
    margin-left: 10px;
    margin-top: 30px;
  }
  
  .custom-tabs {
    margin-top: 30px;
  }

  .game-additional-info {
    margin: 10px 0; /* Adjust the margin as needed */
    margin-top: 10px;
    font-size: 1rem; /* Adjust the font size as needed */
    /* Add more styling as needed */
  }

  .tab-content {
    margin-top: 20px;
    margin-right: 50px;
  }