.wishlist-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: calc(100vh - 100px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.wishlist-title {
    text-align: center;
    flex: 1;
    margin: 0;
}

.wishlist-clear-btn {
    margin-left: auto;
    padding-right: 0;
}

.wishlist-item + .wishlist-item {
    margin-top: 15px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .wishlist-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.wishlist-item-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.wishlist-game-title {
    margin: 0;
    flex-grow: 1;
}

.disabled-button {
    opacity: 0.5;
    pointer-events: none;
}

.game-title-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.game-title-link:hover {
    text-decoration: none;
    color: black;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-bottom: 20px;
}

.btn-uniform {
    min-width: 120px;
    text-align: center;
}

.link-to-add-game {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.game-price {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-top: 5px;

}

.add-to-cart-btn {
    margin-top: 2px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.button-group button {
    flex: 1;
    text-align: center;
}